.nav-link{
	text-shadow: 1px 1px 2px rgba(28,38,89,.45);
}

.text-shadow{
	text-shadow: 4px 4px 4px rgba(28,38,89,.5);
}

.text-background{
	background-color: rgba(28,38,89,.5);
	padding: 2%;
}

.parallax{
    /* The image used is on creative.css */

    /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.padding-container{
	padding-bottom:10%;
	width: 100%;
}

.footer{
	background-color: rgba(28,38,89);
	padding: 3.5%;
}

.propiedades{
	padding: 5%;
	background-color: rgba(28,38,89);
}

.background-light-grey{
	background-color: #e9e9e9;
}